*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  font: popins;
  background-color: #23cdae1f;
}
.banner{
  padding: 0.1rem;
}
#main{
  width: 100%;
  /* height: 55vh; */
  position: relative;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0,0,0.02);
  z-index: 1;
}

.logo img{
  height: 60px;
  margin-left: 2rem;
}
.logo {
  display: flex;
}
.menu{
  list-style: none;
  display: flex;
}

.menu li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px, 22px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: gray;
}
a{
  text-decoration: none;
}

.hey{
  color: #39bfbd;
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid #39bfbd;
}



.menu li a:hover{
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
  transition: all ease 0.2s;
}

.body{
  /* margin: 1rem auto; */
  display: block;
    margin-left: 10rem;
    margin-right: 10rem;
}


.gitdata img{
  width: auto;
}

footer{
  padding: 0.1rem;
  color: whitesmoke;
  background: #313736c5;
  display: flex;
  justify-content: space-around;
}
.connect a img{
  width: 100px;
}
.supportme p a img {
  height: 2rem;
  width: auto;
}
.project{
  text-align: center;
}
@media  screen and  (max-width:674px){
  .main-content{
      display: flex;
      flex-direction: column;
  }
  .gitdata{
  display: flex;
  flex-direction: column;
}
.body{
  /* margin: 1rem auto; */
  display: block;
    margin: 0 auto;
}
}