*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  font: popins;
  background: url(./assets/bg.png) no-repeat fill;
}
.banner{
  padding: 0.1rem;
}
#main{
  width: 100%;
  /* height: 55vh; */
  position: relative;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0,0,0.02);
  z-index: 1;
}
a{
  text-decoration: none;
  color: darkblue;
}
.body{
  /* margin: 1rem auto; */
  display: block;
    margin-left: 10rem;
    margin-right: 10rem;
}
.tools p{
  display: flex;
  /* margin: 0 auto; */
  flex-wrap: wrap;
  justify-content: center;
  height: 75px;
  /* background-color: yellow; */
}
.gitdata{
  display: flex;
  justify-content: space-evenly;
}
.gitdata a img{
  width: auto;
}

footer{
  padding: 0.1rem;
  color: whitesmoke;
  background: #313736c5;
  display: flex;
  justify-content: space-around;
}
.connect a img{
  width: 100px;
}
.supportme p a img {
  height: 2rem;
  width: auto;
}
.project{
  text-align: center;
}
@media  screen and  (max-width:674px){
  .main-content{
      display: flex;
      flex-direction: column;
  }
  .gitdata{
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .gitdata a img{
  
  width: 450px;
  margin: 0 auto;
}
.body{
  /* margin: 1rem auto; */
  display: block;
  margin: 0;
}
.supportme p a img {
  height: 2rem;
  width: auto;
  margin-left: 1rem;
}
}